<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/DB.PlatiniDB.csdl|res://*/DB.PlatiniDB.ssdl|res://*/DB.PlatiniDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=72.167.223.133;initial catalog=PlatiniDM;user id=sa;password=Jeansadmin101;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/DB.PlatiniDB.csdl|res://*/DB.PlatiniDB.ssdl|res://*/DB.PlatiniDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PlatiniDM;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
    <add key="aspnet:MaxHttpCollectionKeys" value="1000000" />
    <add key="DefaultPagesize" value="10" />
    <add key="ENCRYPTION_KEY" value="893755D72124E48BFPROPERTYWALA585468E51994F103C" />
    <add key="RelyServer" value="dedrelay.secureserver.net" />
    <!--<add key="SMTP" value="smtpout.secureserver.net"/>-->
    <add key="SMTP" value="dedrelay.secureserver.net" />
    <add key="SMTPEmail" value="noreply@platinijeans.com" />
    <add key="SMTPCC" value="pulsemicro@gmail.com" />
    <add key="SMTPPassword" value="mg4101" />
    <add key="TEMPLATELOC" value="http://www.platinijeans.com/Template/" />
    <add key="BaseUrl" value="http://www.platinijeans.com/" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="EnableSSL" value="true" />
    <add key="SMTPUserName" value="pulsemicro@gmail.com" />
    <add key="SMTPPassword" value="Pulse110" />
    <add key="SMTPPort" value="587" />
    <add key="EnableSSL" value="true" />
    <!--QB-->
    <add key="QuickBookActive" value="0" />
    <add key="QuickBookSandbox" value="0" />
    <add key="QuickBookSandboxUrl" value="https://sandbox-quickbooks.api.intuit.com/" />
    <add key="QuickBookAppToken" value="0a75ef21b5ee4b43a9b892cb6618656d0d83" />
    <add key="QuickBookAppOauthConsumerKey" value="qyprd1RbrgbVWcMEWyhQfasZReitg3" />
    <add key="QuickBookAppOauthConsumerSecret" value="s3zaI6tA8gW7v9IWylziFQWBj7aGzpEgnHY8ASOv" />
    <add key="QuickBookAppConsumerKey" value="qyprd1RbrgbVWcMEWyhQfasZReitg3" />
    <add key="QuickBookAppConsumerSecret" value="s3zaI6tA8gW7v9IWylziFQWBj7aGzpEgnHY8ASOv" />
    <add key="QuickBookRequestToken" value="qyprdgjnN50VUIGOaVas5GW4l7LGCc5pcyRi7gyIJW1u7nrx" />
    <add key="QuickBookRequestTokenSecret" value="WHeVCLGjXSVkmBjFXuuANlr3PMuER8HtbBtJ6olQ" />
    <add key="QuickBookAccessToken" value="qyprd5rVPn2xmffvMRG85H4mP31ZYtWnBJmUZ21pPai1dxbd" />
    <add key="QuickBookAccessTokenSecret" value="UchMzAO684Aw5Vhf6hX0XQ7UgPXaUeaBZUNzmLT0" />
    <add key="QuickBookCompanyId" value="123145708640002" />
    <add key="ProductCategory" value="Sales of Product Income" />
    <!--UPS-->
    <add key="ShipFrom" value="Ghacham Inc. 7340 Alondra Blvd. Paramount, CA 90723" />
    <add key="UPSAccessLicenseNumber" value="8CD46857521FE8B5" />
    <add key="UPSUserId" value="aali222" />
    <add key="UPSPassword" value="Pulse110" />
    <add key="UPSAddressTest" value="https://wwwcie.ups.com/ups.app/xml/AV" />
    <add key="UPSRateTest" value="https://wwwcie.ups.com/ups.app/xml/Rate" />
    <add key="UPSAddressLive" value="https://www.ups.com/ups.app/xml/AV" />
    <add key="UPSRateLive" value="https://www.ups.com/ups.app/xml/Rate" />
    <add key="UseLiveUPS" value="0" />
    <add key="FacebookAppId" value="1028043387235974" />
    <add key="FacebookAppSecret" value="d8408fbb29a8a13ce278b08b3454dda0" />
    <add key="GoogleClientId" value="234410363591-d1tjftq2avb94jjm4omd11fkrd8ir0kb.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="6N00LriTOoqELQJj21qsCahu" />
    <add key="IPInfoKey" value="dedbe65c5e15b3d22c5b9fb1b52cfe7919148ad4309bdb87b7347dfd4366c441" />
    <add key="PaypalAccountId" value="testPlatiniPro@platinijeans.com" />
    <add key="PaypalClientId" value="AUUrgFtaz-Z0gCPOlk7AZOVL8VOS_1gR_eg7Q6BWcs7_-I9JsK_EfE0d3YfkAx-_PsMe0QbhYzieMSCp" />
    <add key="PaypalClientSecret" value="EGlEgU2Iyx6ZekBl3GJv6CwAPsWUBSg-GUlKC0QV9epyTh1y8VnFfXhIRMGZ9jdWXtPQnReVujrNx_zA" />
    <add key="PaypalMode" value="live" />
    <add key="Tawk" value="https://embed.tawk.to/56968a4fee5bfa4d0c62ab6f/default" />
    <add key="UPSLabel" value="~/Library/UPS-Label/" />
    <!--Not Using-->
    <add key="Admin" value="moe@platinicougar.com,admin;hussein@platinicougar.com,admin;francis@platinicougar.com,admin;alexa@platinicougar.com,admin;orlando@platinicougar.com,admin;ali@platinicougar.com,admin;admin" />
    <add key="MailTo" value="aali22222222222222222222@yahoo.com" />
    <add key="Domain" value="Library/Uploads/Screenshot" />
    <add key="ScreenCapUrl" value="http://www.platinijeans.com/ListView.aspx?" />
    <add key="UserScreenCapUrl" value="http://www.platinijeans.com/ScreenShotLineSheetView.aspx?" />
    <add key="WebSiteScreenShotLicKey" value="NHJ99Q0QTGNG66UUVAGDL4Y1Q" />
    <add key="ImageCounterNo" value="10" />
    <add key="RecordPerPage" value="100" />
    <add key="OrderUrl" value="http://www.platinijeans.com/lb_ShoppingCart.aspx?OrderID=" />
    <add key="logoutTime" value="45" />
    <add key="PlatiniWeb.PlatiniWebService" value="http://www.platinijeans.com/PlatiniWebService.asmx" />
    <add key="orderEmail" value="orders@platinicougar.com" />
    <add key="OrderUrl" value="http://www.platinijeans.com/lb_ShoppingCart.aspx" />
    <add key="CartUrl" value="http://www.platinijeans.com/lb_ShoppingCart.aspx?" />
    <add key="emailtemplate" value="http://www.platinijeans.com/Template/Email.html" />
    <add key="ORDEREMAILLINK" value="http://www.platinijeans.com/lb_ShoppingCart.aspx?Receipt=1" />
    <add key="mailToemails" value="orders@platinijeans.com,ali@pulse-micro.com" />
    <add key="MailFrom" value="ali@pulse-micro.com" />
    <add key="needQBEmail" value="0" />
    <add key="AdminPassword" value="ali786" />
    <add key="TestActivationCC" value="pulsemicro@gmail.com" />
    <!--<add key="QuickBookActive" value="0" />
    <add key="QuickBookAccessToken" value="lvprdMy4unD2SwhUOQElPh44lRSGQ9fODGCPWHCeKCF9USxp" />
    <add key="QuickBookAccessTokenSecret" value="NSKVb9L0Bm3SzGlpqIHHr5mqq71VZOqeIdf6Cn7S" />
    <add key="QuickBookAppConsumerKey" value="lvprdlfYbouxAKAau3MylEz239Rctl" />
    <add key="QuickBookAppConsumerSecret" value="PxNvXRGpaLauhdOCK0dDBViHzExtrot3aSKGIEHF" />
    <add key="QuickBookAppToken" value="c7e90f53b73e6b4289bb17cb107b001e2c10" />
    <add key="CompanyId" value="1190192210" />
    <add key="ProductCategory" value="Sales of Product Income" />

    <add key="QuickBookAppOauthConsumerKey" value="qyprdU1ffjlMm8Nqs0GfSlaxOiGAO5" />
    <add key="QuickBookAppOauthConsumerSecret" value="dbcIT0mzj2k1ErtaQ9P1MbFjadjAYduE5o2L4uwS" />
    <add key="QuickBookRequestToken" value="qyprdgjnN50VUIGOaVas5GW4l7LGCc5pcyRi7gyIJW1u7nrx" />
    <add key="QuickBookRequestTokenSecret" value="WHeVCLGjXSVkmBjFXuuANlr3PMuER8HtbBtJ6olQ" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpSoap" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="Platini.AUTH" loginUrl="~/Home/Login" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="SuperAdmin,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SalesPerson">
    <system.web>
      <authorization>
        <allow roles="SalesPerson" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Warehouse">
    <system.web>
      <authorization>
        <allow roles="Warehouse" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="User">
    <system.web>
      <authorization>
        <allow roles="Customer,User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to HTTPS WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://www.platinijeans.com/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>