<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email template</title>
</head>

<body>
    <div style="background: #dddddd; margin: 0px auto; padding: 20px;">
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="margin: 0px auto; border: 1px solid #667a84; background: #FFF; padding: 30px; font-size: 14px; color: #000; font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td colspan="2">
                    Dear Buyer,
                </td>

            </tr>
            <tr>
                <td colspan="2" align="left">
                    <p style="margin: 0px auto; padding: 5px 0">At PLATINI JEANS, we are always trying to improve your buying experience! We have recreated our website from the bottom up so that it is friendlier, easier to use, and always up to date. Please visit us at <a href="http://www.platinijeans.com">www.platinijeans.com</a> and login with your below email and password to browse our latest styles or Make your order online with our simple to use Order checkout!</p>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <p style="margin: 0px auto; padding: 5px 0">
                        For your convenience, Here is your login information:
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="margin: 0px auto; padding: 5px 0">
                        Username:&nbsp;<%customer-e-mail%>
                    </p>
		    <p style="margin: 0px auto; padding: 5px 0">
                        Password:&nbsp;<%password%>
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="<%baseurl%>Library/Images/EmailLogo.png" style="margin-top: 20px;" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Thank you for you time and we hope you find our system convenient for your needs.
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <address style="margin: 16px 10px; font-style: normal; width: 220px;">
                        Ghacham Inc.
                        <br />
                        7340 Alondra Blvd.
                        <br />
                        Paramount, CA 90723
                        <br />
                        562-602-0400
                        <br />
                        <a href="http://www.platinijeans.com">www.platinijeans.com</a>
                        <br />
                    </address>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</body>
</html>
