<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email template</title>
</head>

<body>
<div style=" background:#dddddd; margin:0px auto; padding:20px; ">
<table width="600" border="0" cellspacing="0" cellpadding="0" style=" margin:0px auto;border:1px solid #667a84; background:#FFF; padding:30px; font-size:14px; color:#000; font-family:Verdana, Geneva, sans-serif;">
  <tr>
    <td colspan="2"><p style="margin:0px auto; padding:5px 0">Dear Customer,  <!--(we would want the customers name to appear if possible, if we can't  put a name then customer is fine)--></p></td>
    
  </tr>
  <tr>
    <td colspan="2"><p style="margin:0px auto; padding:5px 0">You have been activated on <a href="http://platinijeans.com/" style=" color:#747D7D; text-decoration:underline">www.platinijeans.com.</a></p></td>
    
  </tr>
  <tr style=" padding:3px 0">
    <td colspan="2"><p style="margin:0px auto; padding:5px 0">We would like to welcome you to our site. Please visit <a href="http://platinijeans.com/" style=" color:#747D7D; text-decoration:underline">www.platinijeans.com.</a> and sign in with your email and the password you provided. You will find a complete list of our lines. Make sure to click on whatever item you like to see more pictures and price.  You can also submit your order directly in our website. </p></td>
    
  </tr>
  <tr>
    <td colspan="2"><p style="margin:0px auto; padding:5px 0">Here is your username is:  <%username%>  and password is:<%password%></p></td>
    
  </tr>
  <tr>
    <td colspan="2"><p style="margin:0px auto; padding:5px 0">Here is a link that takes you to our website: <a href="http://platinijeans.com/" style=" color:#747D7D; text-decoration:underline">www.platinijeans.com.</a> </p></td>
  </tr>
  <tr>
    <td colspan="2"><p style="margin:0px auto; padding:5px 0">Please feel free to call us with any questions you might have and thank you for visiting <a href="http://platinijeans.com/" style=" color:#747D7D; text-decoration:underline">www.platinijeans.com.</a></p></td>
  </tr>
  <tr>
    <td><img src="http://elanvitalshirts.com/Library/Images/Logo-copy - Copy.png" style="margin-top:20px;margin-left:20px;" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><address style=" margin: 16px 20px; font-style:normal;
    width: 220px;">7340 Alondra Blvd <br />Paramount, CA 90723<br /> (562)602-0400</address></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table></div>
</body>
</html>
