<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>
    <div style="background: #dddddd; margin: 0px auto; padding: 20px;">
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="margin: 0px auto; border: 1px solid #667a84; background: #FFF; padding: 30px; font-size: 14px; color: #000; font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td colspan="2">
                    <p style="margin: 0px auto; padding: 5px 0">Hello <%CompanyName%> </p>
                </td>

            </tr>

            <tr>
                <td colspan="2" align="left">
                    <p style="margin: 0px auto; padding: 5px 0">Thank you for signing up for wholesale purchasing with PLATINI JEANS.</p>
                </td>
            </tr>
             <tr>
                <td colspan="2" align="left">
                    <p style="margin: 0px auto; padding: 5px 0">Your account is under review by our sales team. Once approved, we will email you a notification so that you can log on to our system.</p>
                </td>
            </tr>
           
            <tr>
                <td>
                    <img src="<%baseurl%>Library/Images/EmailLogo.png" style="margin-top: 20px;" /></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <address style="margin: 16px 10px; font-style: normal; width: 220px;">
                        Ghacham Inc.<br />
                        7340 Alondra Blvd
                        <br />
                        Paramount, CA 90723<br />
                        (562)602-0400
                        <a href="http://www.platinijeans.com">www.platinijeans.com </a>
                    </address>
                </td>
            </tr>
            <tr>
                <td>For more info or assistance you may also email us at <a href="mailto:sales@platinijeans.com"></a> sales@platinijeans.com</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</body>
</html>
